@font-face {
	font-family: "Axis";
	src: url("fonts/axis.woff") format("woff");
	
	font-family: "Vision";
	src: url("fonts/woff/vision-black-webfont.woff") format("woff");

	font-family: Futura;
	src: url("fonts/Futura-Bold.woff") format("woff");
}

body, html {
			height: 100%;
			font-family: Futura;
			color: #000000;
			font-weight: bold;
		}